# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/
.vscode/
smart-diet-backend/target
smart-diet-frontend/node_modules
smart-diet-frontend/dist
smart-diet-frontend/.vscode
